@use "../Utils" as a;

.cta__btn {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 1em 0 1em;
    height: 50px;
    border: none;
    border-radius: 2em;
    color: white;
    font-weight: a.$fw-bold;
    cursor: pointer;
    box-shadow: a.$box-shadow;
    background-color: a.$clr-primary;
    box-shadow: 0 50px 20px -35px a.$clr-secondary inset;
    transition: box-shadow .5s ease-in-out;
    
    @include a.flex-center();
}

.order__btn {
    padding-right: 3em;
    padding-left: 3em;
}

.cta__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    border-radius: 2em;
    box-shadow: a.$box-shadow-hover;
    transition: opacity .5s ease-in-out;
}

.cta__btn:hover {
    box-shadow: 0 50px 20px -25px a.$clr-secondary-light inset; 
    transition: box-shadow .5s ease-in-out;
}

.cta__btn:hover::after{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}