@use "../Utils/" as a;

.card {
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 250px;
    width: 335px;
    box-shadow: a.$box-shadow;
}

.card__picture {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 68%;
    width: 100%;
}

.card__details {
    @include a.flex-center($justify: space-between);
    height: 32%;
    padding-left: 1em;
}


.card__tag-new {
    background-color: a.$clr-tertiary;
    position: absolute;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 2px;
    top: 1em;
    right: 1em;
    font-size: 0.8em;
    font-weight: a.$fw-bold;
    color: a.$clr-tertiary-highlight;
}