@use '../Utils/' as a;

.menu-item {
    @include a.flex-center($justify: space-between, $wrap:nowrap);
    border-radius: 15px;
    height: 4.5em;
    background-color: white;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    opacity: 0;
    max-width: 600px;

}

.menu-item:hover .menu-item__check {
    margin-right: 0;
}

.menu-item:hover .fa-check-circle {
    transform: rotate(360deg);
    transition-delay: 2s;
    transition: transform .5s ease-in;
}

.menu-item__description {
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    padding-left: 1em;
    h3 {
        margin-bottom: 0.5em;
    }
    h3, p {
        overflow: hidden;
        // rogner le texte qui dépasse en ajoutant des pointillés (éllipse)
        text-overflow: ellipsis;
        /* min-width: 0; */
    }
}

.menu-item__description__bottom_line {
    display: flex;
    width: 100%;
    justify-content: space-between;

    span {
        padding: 0 1em 0 1em;
        flex-shrink: 0;
    }
}

.menu-item__check {
    @include a.flex-center();
    background-color: a.$clr-tertiary;
    color: white;
    height: 100%;
    width: 80px;
    // margin right négatif pour mettre l'élément check invisible, puis le faire surgir en .5s au clic
    margin-right: -80px;
    transition: margin .5s ease-in-out;
    cursor: pointer;
}

/* Vérifier si rotation inverse demandée */
.fa-check-circle {
    transform: rotate(0deg);
    transition: transform .5s ease;
}