@mixin animation-heartBeat($duration: 1s) {

    animation: heartBeat $duration ease-in-out;

    @keyframes heartBeat {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        85% {
            opacity: 1;
            transform: scale(1.35);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
// On répète l'action pour tout les enfants de la classe .menu-item, on lance l'animation 1 fois par le nombre d'élement (3, 4 ou 5 fois selon la page) avec .25s de délai entre chaque itération
@mixin animation-slideUp {

    
    @for $i from 1 through 5 {
        & .menu-item:nth-child(#{$i}n) {
            animation: slideUp .75s forwards ease;
            animation-delay: #{$i * 0.25}s;
        }
    }
// chaque itération d'animation sera en bas de 50px et invisible pour remonter et devenir visible 
    @keyframes slideUp {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}